:root{
   
    --color1-claro: rgb(88, 123, 127);
    --color1-oscuro:rgb(30, 32, 25);
    --color2-claro:rgb(230, 204, 60);
    --oscuro2-oscuro:rgb(0, 0, 0);
    --color3-claro:#adaed7;
    --color3-oscuro:rgb(141, 171, 127);
}

/*


        --color1-claro: #FFF5B2;
    --color1-oscuro:#EDFF86;
    --color2-claro:#D4FCC3;
    --oscuro2-oscuro:#F3C969;
    --color3-claro:#ccc;
    --color3-oscuro:#362C28;
    */