p {
    animation-duration: 6s;
    animation-name: estiloanimacion;
}

@keyframes estiloanimacion{
    from {
        margin-left:50%;
        width:200%;
    }
    50% {
        font-size:200%;
        margin-left:10%;
        width:150%
    }
    to{
        margin-left:0%;
        width:100%;
    }
}