div{
    color:red;/*red: es error, falta el ;despues de red*/
    font-family:verdana;/*le faltaba -family*/
    opacity: 0,5;
    
}
body{
    /*si se quiere ver el borde habria que definir un border style*/
    border-style: double;
    border-width: 10px;
    border-color: blue;
    color:red;

}
h1{
    border:inherit;
}