textarea:focus,button:active{
    background-color: brown;
    color: azure;
}
a:link{
    color:yellow;
}
a:hover{
    background-color: rgb(179, 88, 88);
    color:white;
}
a:visited{
    color:orange;
}

