
body{   
    border-style: double;
    border-width: 10px;
    border-color: rgb(218, 163, 36);
    color:rgb(224, 101, 13);
    background-color: rgb(239, 207, 207);

}
.xs{
    font-size: xx-small;
}
.menu{
    background-color: rgb(203, 200, 192);
    border-radius: 15%;

}
